root = true

[*.md]
ktlint_standard = disabled

[*.{kt,kts}]
ktlint_code_style = intellij_idea
max_line_length = 240
ij_continuation_indent_size = 4
ij_kotlin_name_count_to_use_star_import = 100
ij_kotlin_name_count_to_use_star_import_for_members = 100
ij_kotlin_packages_to_use_import_on_demand = nothing
ij_kotlin_allow_trailing_comma_on_call_site = true
ij_kotlin_allow_trailing_comma = true
ktlint_standard_trailing-comma-on-call-site = disabled
ktlint_standard_trailing-comma-on-declaration-site = disabled
ktlint_standard_package-name = disabled
ktlint_standard_annotation = disabled
ktlint_standard_property-naming = disabled

[*.{yml,yaml}]
indent_size = 4
